*{
    margin: 0;
    padding: 0;
}
#gameBox{
    width:100vw;
    height:100vh;
    background-color: black;
    overflow: hidden;
}
#player1Score, #player2Score{
    color : rgb(79, 92, 234);
    font-size: 70px;
    position: absolute;
    top: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
#player1Score{
    left:30%;
}
#player2Score{
    right: 30%
}
.dashedLineVertical{
    border-left: 3px dashed rgb(232, 240, 80);
    position: absolute;
    top: 10;
    left: 50%;
    width: 1px;
    height: 100%; 
    transform: translateX(-50%);
}.player1Paddle{
    background-color: rgb(102, 0, 255);
    width: 20px;
    height: 100px;
    left: 5px;
    top:50%;
    position: absolute;
    border-radius: 10px;
    transform: translateY(-50%);
}
.player2Paddle{
    background-color: rgb(238, 93, 9);
    width: 20px;
    height: 100px;
    right: 5px;
    top:50%;
    position: absolute;
    border-radius: 10px;
    transform: translateY(-50%);
}
.ball{
    background-color: rgb(219, 227, 219);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
}